body {
  margin: 0;
}

h1 {
  color: gray;
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
}

h1 #servo-animation {
  display: inline-block;
  width: 60px;
  height: 38px;
  position: relative;
  top: 5px;
  margin-right: 5px;
}

@media (max-width: 600px) {
  h1 {
    margin: 0;
  }
}

canvas {
  position: absolute;
  top: 0;
}

footer {
  margin: 0 10px;
  position: absolute;
  bottom: 5px;
}

footer a {
  color: gray;
}

input[type="range"] {
  width: 300px;
}

.show-average {
  color: rgba(200, 52, 52, 50%);
  font-size: 22pt;
}
