body {
  margin: 10px;
  overflow: hidden;
}
h1 {
  color: gray;
  text-align: center;
  font-size: 40px;
}

canvas {
  position: relative;
  left: -10px;
}

footer {
  position: absolute;
  bottom: 5px;
}

footer a {
  color: gray;
}

.show-average {
  color: rgba(200, 52, 52, 50%);
  font-size: 22pt;
}
