body {
  margin: 0;
}

h1 {
  color: gray;
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
}

#servo-animation {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 60px;
  height: 38px;
  margin-right: 5px;
}

#led-animation {
  display: inline-block;
  width: 60px;
  height: 38px;
  margin-left: 5px;
  background: url(assets/LED.png) no-repeat;
  background-size: contain;
}

@media (max-width: 600px) {
  h1 {
    margin: 0;
  }
}

canvas {
  position: absolute;
  top: 0;
}

footer {
  margin: 0 10px;
  position: absolute;
  bottom: 10px;

  width: 90%;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: gray;
  display: block;
}

input[type="range"] {
  width: 300px;
}

.show-average {
  color: rgba(200, 52, 52, 50%);
  font-size: 22pt;
}
