body {
  margin: 10px;
  }

  canvas {
    position: relative;
    left: -10px;
  }

h1 {
  color: gray;
  text-align: center;
  font-size: 40px;
}

footer {
  position: absolute;
  bottom: 5px;
}

footer a {
  color: gray;
}
